@import url('https://fonts.googleapis.com/css?family=Corben:700');
@import url('https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong">');
@import url('https://fonts.googleapis.com/css2?family=Kufam&display=swap');
.brand-logo {
    margin-left: 2rem;
}

.g {
    cursor: pointer;
}

ul {
    margin-right: 2rem;
}

nav {
    margin-right: 2rem;
}

li {
    margin-right: 2rem;
}
div.marg

{

    margin-top: 2%;
}

.transparentBG {
    background-color: rgba(0, 0, 0, 0);
}

.title {
    font-size: 2rem;
    color: #26a69a;
}


.light-green-text {
    color: #000000 !important;
}

.accroche {
    height: 500px;
}

h1,
h2,
h4,
p,
.mate,
div {
    font-family: "Kufam";
}

nav .nav-wrapper {
    background-color: #010001;
}

.sticky-nav {
    position: fixed;
    top: 0;
}

.modal {
    background-image: url('/img/shaise.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}



body.mast
{
    background-image: url('/img/shaise.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

ul, li

{


    color: #010001;
}



hr.first {
    width: 20%;
    height: 2px;
}

hr.second {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 20%;
}

.progress {
    position: relative;
    height: 4px;
    display: block;
    width: 100%;
    border-radius: 2px;
    margin: .5rem 0 1rem 0;
    overflow: hidden;
}

.logo {
    margin-left: 35%;
    width: 80px;
    margin-top: 5%;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.541);
}

.side-nav {
    position: fixed;
    width: 150px;
    left: 0;
    top: 0;
    margin: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    height: 100%;
    height: calc(100% + 60px);
    height: -moz-calc(100%);
    padding-bottom: 60px;
    z-index: 999;
    overflow-y: auto;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
    background-image: url("/img/ordi.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.login {
    margin-bottom: 2%;
}

h1 {
    font-size: 6rem;
}

.shadow-demo {
    background-color: #26a69a;
    width: 100px;
    height: 100px;
    margin: 20px auto;
}

h1,
h6 {
    color: #26a69a;
}

.modal-close:hover {
    background-color: #26a69a;
}

i.g {
    color: #26a69a;
}

.modal {
    border-radius: 15px;
}

h2.vitrine {
    margin-bottom: 5%;
    margin-top: 5%;
    color: #26a69a;
}

#log {
    margin-top: 2%;
}

.mat1 {
    font-size: 1.5rem;
    color: #ee6e73;
    font-family: "Lobster";
}

.p {
    color: black;
    font-size: 1.3rem
}

.padding-perso {
    padding-top: 3rem;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
.dashboard, .logout

{

  color: #26a69a;
}


.dashboard:hover, .logout:hover

{

  color: #000000;
}



h5.bonjour

{

color: #26a69a;

}

.bonjour:hover

{

    color: azure;
}

.bonjour1:hover

{

    color: azure;
}



.dropdown-button

{

    background-color: #26a6999d;
    border:none;

}




.dropdown-content

{

    background-color:#26a6992a;

}

.dropdown-content:hover

{

    background-color:#00000000;



}
.mate1
{

    font-size: 3rem;
}



@media screen {

    .side-nav {
        position:fixed;
        width: 280px;
        left: 0;
        top: 0;
        margin: 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        height: 100%;
        height: calc(100% + 60px);
        height: -moz-calc(100%);
        padding-bottom: 60px;
        font-size: 2rem;
        z-index: 999;
        overflow-y: auto;
        will-change: transform;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform: translateX(-105%);
        transform: translateX(-105%);
        background-image: url("https://images.unsplash.com/photo-1510915228340-29c85a43dcfe?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .logo {
        margin-left: 40%;
        width: 120px;
        margin-top: 5%;
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.541);
    }
    .logo1 {
        min-width: 20px;
        min-height: 20px;
        max-width: 20px;
        max-height: 20px;
        margin-top: 2%;
        box-shadow: 0px 0px 10px rgba(10, 10, 10, 0.541);
    }
    span.vert

    {


      color: #26a69a;
      font-size: 1.1rem;
    }

    span.verte

    {


      color: #13d6c3;

    }
    span.verte:hover

    {


      color: #08b3a1;

    }



    span {
        font-size: 1rem;
    }
}
@media screen and (min-width: 0px) and (max-width: 1024px) {
    img.image {
        display: none;
    }
}



@media screen and (min-width: 200px) and (max-width: 640px) {
    h1,
    .mate1 {
        font-size: 3rem;
    }
    img.image {
        display: none;
    }
}

.responsive-img {
    border: none;
}

.carousel .carousel-item img {
    width: 200%;
    z-index: 1;
}

.formation {
    margin-top: 2%;
    margin-bottom: 2%;
}

.card-image {
    -webkit-filter: blur(3px);
    filter: blur(3px);
    box-shadow: 0px 0px 8px white;
}

.card-image {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%), blur();
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.card-image:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale() (0);
}

h2.port,
h2.titre {
    padding-top: 3%;
}

button.envoyer {
    margin-bottom: 2%;
}

#prof1,
#prof2,
#prof3 {
    min-width: 65px;
    min-height: 65px;
    max-width: 65px;
    max-height: 65px;
    box-shadow: 0px 0px 2px white;
    margin-top: 15%;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

#logo {
    margin-top: 20%;
    min-width: 65px;
    min-height: 65px;
    max-width: 65px;
    max-height: 65px;
}

#logo1 {
    min-width: 88px;
    min-height: 88px;
    max-width: 88px;
    max-height: 88px;
    margin-bottom: 2%;
}

#logo3 {
    min-width: 88px;
    min-height: 88px;
    max-width: 88px;
    max-height: 88px;
    margin-bottom: 2%;

    box-shadow: 0px 0px 10px rgba(165, 168, 168, 0.925);



}


#logo2 {
    min-width: 80px;
    min-height: 80px;
    max-width: 80px;
    max-height: 80px;
    margin-top: 12%;
}


img.dashboard


{

    margin-top: 2%;
}

#prof1:hover,
#prof2:hover,
#prof3:hover {
    -webkit-transform: scale(1.25);
    /* Safari and Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* IE 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25);
    width: 350px;
}

.card-alert button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 15px;
    color: inherit;
}

.card-alert a {
    color: inherit;
    font-weight: 500;
}

.card-alert a:hover {
    color: inherit;
    text-decoration: underline;
}

.card-image:hover {
    -webkit-filter: blur(0);
    filter: blur(0);
}

.card-alert .vert {
    background-color: #26a69a;
}

.card-alert {
    background-color: rgba(255, 68, 0, 0.877);
    color: azure;
    font-size: 1.2rem;
}

div.card-content1 {
    padding: 24px;
    border-radius: 0 0 2px 2px;
    background-color: #26a69a;
    font-size: 1.2rem;
    color: azure;
}

span.userAuth {
    color: #26a69a;
    font-size: 1.5rem;
}

h5.send {
    margin-bottom: 5%;
}

label.check {
    color: black;
    font-size: 1.1rem;
}

span.check1 {
    color: green;
    font-size: 1.1rem;
}

h4.message {
    margin-top: 5%;
    margin-bottom: 10%;
}

.nom {
    font-size: 2.5rem;
    color: #26a69a;
    margin-top: 5%;
}

.moiprofil {
    min-width: 105px;
    min-height: 105px;
    max-width: 105px;
    max-height: 105px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.507), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: -2%;
    margin-left: 1%;
    transition: 0.3s;
    filter: blur(4px);
}

.para {
    font-size: 1.2rem;
    color: black;
}

#sidenav-overlay {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 120vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 997;
    will-change: opacity;
}

.modal-overlay {
    position: fixed;
    z-index: 999;
    top: -100px;
    left: 0;
    bottom: 0;
    right: 0;
    height: 125%;
    width: 100%;
    background: rgba(0, 0, 0, 0.986);
    display: none;
    will-change: opacity;
}

.overlay {
    background-color: #010001;
}

h4 {
    color: #010001;
}
